body {
  padding: 300px;
  font: 19px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
  color: white;
}

form {
  text-align: center;
  color: white;
  padding: 8px;
}

ul {
  list-style: inside;
  text-align: center;
  color: white;
}

a {
  width: 100%;
}