<!-- index.ejs -->
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<body style="background-color:rgb(22, 21, 21)">
<h1>Make sure you use only letters for names and only digits for the age!</h1>
<A HREF="/" style="margin:auto; text-align:center; display:block;">Click here to try again.</A>
</body>