<!-- index.ejs -->
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<body style="background-color:rgb(22, 21, 21)">
<h1>User successfully added to MongoDB Database!</h1>
<A HREF="users" style="margin:auto; text-align:center; display:block;">Click here to see all the users.</A>
</body>